PROJECT_NAME = "HTTP Metadata Inventory"
MONGODB_URL = "mongodb://localhost:27017"
DATABASE_NAME = "metadata_db"

COLLECTION_NAME = "url_metadata"
DEFAULT_RETRY_AFTER_SECONDS = 300  # 5 minutes

RATE_LIMIT_REQUESTS_PER_MINUTE = 60